
/*Esto es el scritp CSS*/

body{
	background-color: #d9d9d9;
	font-family: sans-serif;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 400px
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}